.fuel-container{
	overflow:auto;
	padding-top: 10vh;
}


.fuel-pic{
	float: right;
	width:100vh;
	padding-right: 20vh;
}

.fuel-title{
	
	padding-bottom: 3vh;
	color: #28FFBF;
	font-size: 5vh;
	font-weight: bolder;
}

.fa-github{
	color: white;
	font-size: 5vh;
	padding-right: 3vh;
	padding-top: 1vh;
}

.fa-external-link-alt{
	color: white;
	font-size: 5vh;
}

a:link, a:visited {
    color: white;
}


.fuel-info{
	float:left;
	padding-left: 20vh;
}
p{
	color:#dcd5e0;
	padding-top: 1vh;
}